<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Test Page based on Swarm Demo</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 60px;
      }

      h2 {
        margin-bottom: 20px;
      }

      #info {
        font-size: 1.2em;
        white-space: pre-line; /* zachowuje nowe linie z backendu */
        margin-bottom: 40px;
      }

      footer {
        margin-top: 40px;
        color: #666;
        font-size: 0.9em;
      }
    </style>
  </head>

  <body>
    <h2>Info from Backend Pod</h2>
    <p id="info">Loading…</p>

    <script>
      function updateInfo() {
        fetch("/api")
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("info").innerHTML = data;
          })
          .catch((error) => {
            document.getElementById("info").innerText =
              "Error fetching data: " + error;
          });
      }

      updateInfo();               // pierwsze pobranie

      setInterval(updateInfo, 5000); // odświeżanie co 5s
    </script>

    <h2>Info from Frontend Pod</h2>
    <p id="frontend-info">
      container IP: ${POD_IP}<br><br>
      node name: ${NODE_NAME}<br>
      node IP: ${NODE_IP}<br>
    </p>

    <footer>© 2026 by Me ;)</footer>
  </body>
</html>
